h1{
    color: blueviolet;
    border: 1px solid forestgreen;
}
.parrafoRojo{
    font-size: 35px;
    border: 1px solid red;
}
.parrafoAmAzul{
    color: lightcoral;
    background-color: aqua;
    border: 2px solid yellow;
    margin-top: 120px;
    padding-bottom: 120px;
}